@model PSP_EF.Models.Adoption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Adoption</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdoptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdoptDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AdoptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
