@model PSP_EF.Models.Pet

@{
    ViewBag.Title = "PostFinding";
}

<h2>Post Finding</h2>

@if (ViewBag.Message != null)
{
    <h6>@ViewBag.Message</h6>
}
else
{
<form role="form" class="col-lg-9 form-horizontal" action="@Url.Action("PostFinding", "PetLostFound")" method="post" onsubmit="return validatePostFinding()">
    @Html.HiddenFor(model => model.PetId)
    <div class="form-group">
        <label for="PetCategory" class="col-sm-3 control-label">Pet Category</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.PetCategory, new SelectList(new List<Object>{
                    new {value = "Cat", text = "Cat"},
                    new {value = "Dog", text = "Dog"},
                    new {value = "Rabbit", text = "Rabbit"},
                    new {value = "Other", text = "Other"}
                }, "value", "text", "Cat"))
            </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.Description)" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Please enter your pet description" })
        </div>
    </div>

    <button type="submit" class="btn btn-default btn-primary">Post Info</button>
</form>
}